/* GENERAL */

* {
	margin: 0;
	overflow: hidden;
}

#window {
	position: relative;
	width: 100%;
	height: 100%;
}

html {
	height: 100%;
	width: 100%;
	overflow: auto;
}

body {
	font-family: 'Gaegu', serif;
	margin: 0;
	height: 100%;
	width: 100%;
	position: relative;
	color: white;
}

/* BACKGROUND IMAGES */

#preload {
	width: 100%;
	height: 80%;
	position: absolute;
}

#preload2 {
	width: 100%;
	height: 80%;
	position: absolute;
}

#preload3 {
	width: 100%;
	height: 100%;
	position: absolute;
}

#preload4 {
	width: 100%;
	height: 100%;
	position: absolute;
}

/* HEADER */

.namehead {
	text-align: right;
	position: absolute;
	width: 20%;
	height: 10%;
	top: 0.5%;
	right: 5%;
	font-size: 40px;
}

.namehead p {
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 100%;
	padding-top: 5%;
}

.titlehead {
	text-align: right;
	position: absolute;
	width: 40%;
	height: 10%;
	top: 7%;
	right: 5%;
	font-size: 40px;
}

.titlehead p {
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 100%;
	padding-top: 5%;
}

/* HOMESCREEN */

#bio {
	display: none;
	box-sizing: border-box;
	shape-outside: circle();
	float: left;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	text-align: left;
	position: absolute;
	top: 10%;
	left: 10%;
	color: white;
	font-size: 40px;	
}

.hovbutton:hover {
    transform: scale(1.5, 1.5); /** default is 1, scale it to 1.5 */
    opacity: 1;
	cursor: pointer;
}



#portfolio {
	display: none;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 40%;
	left: 34%;
	color: white;
	background-color: #88b1ef;
	font-size: 40px;
}

#contact {
	display: none;
	box-sizing: border-box;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	text-align: center;
	position: absolute;
	top: 45%;
	left: 63%;
	color: white;
	background-color: #ccb4a3;
	font-size: 40px;
}

#contactcontainer {
	display: none;
	position: absolute;
	height: 400px;
	width: 70%;
	margin: 0 15%;
	top: 15%;
	background-color: transparent;
	font-size: .6em;
	line-height: 75px;
}



#backbutton {
	border-style: inset;
	border-radius: 50%;
	border-style: outset;
	border-width: 10px;
	position: absolute;
	top: 7%;
	left: 3%;
	background-color: transparent;
	opacity: 0.2;
	cursor: pointer;
}

#iconcredit {
	display: none;
	text-align: center;
	width: 100%;
	height: 2%;
	bottom: 1%;
	position: absolute;
	font-size: 0.7rem;
	color: black;
	margin: 0;
}
	

#biotitle {
	display: none;
	color: #231402;
	font-weight: bold;
	font-size: 40px;
	position: absolute;
	margin-bottom: 5%;
	top: 5%;
	right: 73.5%;
}

#biolabel {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #f7b03d;
	border-radius: 50%;
	text-align: center;
	line-height: 250px;
	margin: 0;	
}

#biophoto {
	box-sizing: border-box;
	float: left;
	border-radius: 50%;	
	width: 100%;
	height: 100%;
}


#biotext {
	display: none;
	font-weight: bold;
	text-align: right;
	position: relative;
	line-height: 30px;
	font-size: 1rem;
	color: #231402;
	top: 140px;
	left: 12%;
	padding-left: 15px;
}

.conticon1, .conticon2, .conticon3, .conticon4, .conticon5 {
	opacity: 0.2;
	cursor: pointer;
}

.context1, .context2, .context3, .context4, .context5 {
	cursor: pointer;
}



#portlabel {
	width: 100%;
	height: 20%;
	text-align: center;
	padding: 40% 0 40% 0;
	margin: 0;	
}

.iconcredit {
	display: none;
	position: absolute;
	bottom: 2%;
	text-align: center;
	color: black;
	font-size: 0.5rem;
	width: 100%;
	height: 5%;
}

#iconcreditcon {
	text-align: center;
	width: 100%;
}


	

#projecttitle1 {
	font-size: 1.35em;
	display: none;
	position: absolute;
	top: 38%;
	left: 44%;
}

#projecttitle2 {
	font-size: 1.35em;
	display: none;
	position: absolute;
	top: 38%;
	left: 48%;
}

#arrowback {
	display: none;
	opacity: 0.2;
	position: absolute;
	top: 45%;
	left: 15%;
	height: 200px;
	width: 100px;
}

#arrowforward {
	display: none;
	opacity: 0.2;
	position: absolute;
	top: 45%;
	right: 15%;
	height: 200px;
	width: 100px;
}

#arrowback img {
	height: 100%;
	width: 100%;
}

#arrowforward img {
	height: 100%;
	width: 100%;
}

.container {
	opacity: 0;
	display: flex;
	position: relative;
	width: 100%;
	height: 250px;
	margin-left: 33%;
	top: 45%;
	overflow: hidden;
}

.slide {
	display: none;
	flex: 33.3%;
	padding: 5px;
}

.slide img {
	width: 100%;
	height: 80%;
	border-radius: 15%;
}

#slide1 {
	opacity: 1;
	position: relative;
}

#slide2 {
	/* animation-fill-mode: forwards; */
	opacity: 0;
	position: relative;
	height: 200px;

#slide3 {
	opacity: 0;
}

#conlabel {
	width: 100%;
	text-align: center;
	line-height: 150px;
	margin: 0;
	padding-top: 0;
}