* {
	margin: 0;
	padding: 0;
}

#window {
	display: none;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	transition: background-image 3s ease-in-out;
	background-image: url('../img/background.jpg');
	text-align: right;
	position: relative;
}


#namehead {
	color: white;
	font-size: 2em;
	font-family: 'Century Gothic';
	margin: 1% 5% 0 0;
	width: 95%;
	height: 12%;
	display: inline-block;
}

#titlehead {
	color: white;
	font-size: 2em;
	font-family: 'Century Gothic';
	margin: -2% 5% 0 0;
	width: 95%;
	height: 10%;
	display: block;
}

#bc1 {
	shape-outside: circle();
}

#bc2 {
	left: 35%;
	top: 37%;
	position: absolute;
}

#bc3 {
	left: 65%;
	top: 25%;
	position: absolute;
}

#bio {
	background-color: #f7b03d;
}

#portfolio {
	background-color: #88b1ef;
}

#contact {
	background-color: #ccb4a3;
}

#biography {
	display: none;
	position: relative;
	width: 61%;
	left: 12%;
	top:7%;
	font-family: 'Century Gothic';
	font-size: 1rem;
	text-align: left;
	color: white;
}

#backbutton {
	display: none;
	position: absolute;
	bottom: 0;
	right: 5%;
	height: 20%;
	width: 10%;
	opacity: 0.5;
}

#backbutton :hover {
	transform: scale(1.2, 1.2);
	cursor: pointer;
}

#biohead {
	display: none;
	position: absolute;
	color: white;
	font-family: 'Century Gothic';
	font-size: 2em;
	top: 0;
	left: 6%;
}

#porthead {
	display: none;
	position: absolute;
	color: white;
	font-family: 'Century Gothic';
	font-size: 2em;
	top: 0;
	left: 6%;
}

#slideBackArrow {
	display: none;
	position: relative;
	top: 28%;
	left: 21%;
	height: 20%;
	width: 7%;
	z-index: 2;
}

#slideBackArrow img {
	height: 100%;
	width: 100%;
}

#slideForwardArrow {
	display: none;
	position: relative;
	top: 8%;
	right: -62%;
	height: 20%;
	width: 7%;
	z-index: 2;
}

#slideForwardArrow img {
	height: 100%;
	width: 100%;
}



#slideContainer {
	display: none;
	position: relative;
	height: 30%;
	width: 100%;
	top: -18%;
	left: 34%;
	overflow: hidden;
}

#slide2 {
	/* animation-fill-mode: forwards; */
	opacity: 0;
}

#slide3 {
	opacity: 0;
}

#slide4 {
	opacity: 0;
}

#phoneNumber {
	bottom:38px;
}

#emailAddress {
	bottom:38px;
}

#gitHubAddress {
	bottom:38px;
}

#bitBucketAddress {
	bottom:38px;
}

.bc1pos {
	top: 10%;
	left: 5%;
}

.butcontainer {
	display: none;
	border-radius: 50%;
	height: 300px;
	width: 20%;
	position: relative;
	margin-right: 0;
	clear: both;

}

.bchover :hover {
	transform: scale(1.5, 1.5);
	cursor: pointer;
}

.label {
	text-align: center;
	margin-top: 45%;
	font-family: 'Century Gothic';
	color: white;
	font-size: 25px;
}

.hovbutton {
	overflow: hidden;
	border-radius: 50%;
	width: 100%;
	padding-bottom: 40%;
	box-shadow: inset -25px -20px 40px rgba(0,0,0,.2);
	background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
	background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
	background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
	background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);

}

.img {
width: 60%;
}

.slide {
	opacity: 0.5;
}

.slide img {
	width: 300px;
	height: 100%;
	border-radius: 3%;
}

.slideForwardArrowHover {
	opacity: 0.2;
}

.slideForwardArrowHover:hover {
	opacity: 0.6;
}

.slideBackArrowHover {
	opacity: 0.2;
}

.slideBackArrowHover:hover {
	opacity: 0.6;
}

.icon {
	font-size: 10vw;
	padding-bottom: 40%;
}

@media only screen and (max-width: 1220px) {
    #biography {
        width: 65%;
				left:9%;
				top: 5%;

		}

		#slideForwardArrow {
			right: -65%;
		}
}

@media only screen and (max-width: 1187px) {
    #biography {
        width: 65%;
				top: 5%;
		}
}

@media only screen and (max-width: 1187px) {
    #slideForwardArrow {
        right: -68%;
		}

		#emailAddress {
			bottom: 33px;
		}

		#phoneNumber {
			bottom: 33px;
		}

		#gitHubAddress {
			bottom: 33px;
		}

		#bitBucketAddress {
			bottom: 33px;
		}
}

@media only screen and (max-width: 1080px) {
	#emailAddress {
		bottom: 30px;
	}

	#phoneNumber {
		bottom: 30px;
	}

	#gitHubAddress {
		bottom: 30px;
	}

	#bitBucketAddress {
		bottom: 30px;
}

@media only screen and (max-width: 1062px) {
    #biography {
        width: 80%;
				top: 4%;
				left:9%;
		}

		#titlehead {
			margin-bottom: 5%;
		}

		#slideBackArrow {
			top: 30%;
		}

		#slideForwardArrow {
			top: 10%;
		}
}

@media only screen and (max-width: 1155px) {
    #biography {
        width: 65%;
				top: 5%;
				left:8%;
		}
}

@media only screen and (max-width: 1115px) {
    #biography {
        width: 70%;
				top: 3%;
		}
}

@media only screen and (max-width: 1090px) {
    #biography {
        width: 70%;
				top: 3%;
		}
}

@media only screen and (max-width: 1040px) {
    #biography {
        width: 70%;
				top: 2%;
		}
		#slideForwardArrow {
		    right: -69%;
		}

		#namehead {
			font-size: 1.5em
		}

		#titlehead {
			font-size: 1.5em
		}
}

@media only screen and (max-width: 1025px) {
	.contactHeight {
		height: 200px;
	}
}

@media only screen and (max-width: 1015px) {
    #slideForwardArrow {
        right: -71%;
		}
}

@media only screen and (max-width: 986px) {
		.icon {
			padding-bottom: 10%;
		}

		#emailAddress {
			bottom: 20px;
		}

		#phoneNumber {
			bottom: 20px;
		}

		#gitHubAddress {
			bottom: 20px;
		}

		#bitBucketAddress {
			bottom: 20px;
		}
}

@media only screen and (max-width: 956px) {
	#emailAddress {
		bottom: 20px;
	}

	#phoneNumber {
		bottom: 20px;
	}

	#gitHubAddress {
		bottom: 20px;
	}

	#bitBucketAddress {
		bottom: 20px;
}
	.icon {
		padding-bottom: 10%;
	}
}

@media only screen and (max-width: 956px) {
    #biography {
        width: 70%;
				top: 0;
		}

		#bc1 {
			margin-top: 5%;
		}

		#biotitle {
			font-size: 1rem;
		}

		#portitle {
			font-size: 1rem;
		}

		#contitle {
			font-size: 1rem;
		}

		#slideForwardArrow {
        right: -72%;
		}
}

@media only screen and (max-width: 925px) {
    #biography {
        width: 75%;
		}
	}

	@media only screen and (max-width: 890px) {
		#slideForwardArrow {
				right: -75%;
		}
	}

@media only screen and (max-width: 880px) {
    #biography {
        width: 75%;

		}

		#namehead, #titlehead {
			font-size: 1.5em;
		}
}

@media only screen and (max-width: 830px) {
    #biography {
        width: 85%;
				left: 6%;
				top: -3%;
		}

		#slideForwardArrow {
				right: -78%;
		}

		.contactHeight {
			height: 150px;
		}
	}

@media only screen and (max-width: 810px) {
    #biography {
        width: 85%;
				left: 6%;
				top: -3%;
			}

			#backbutton {
				bottom: -5%;
			}
		}

@media only screen and (max-width: 785px) {
    .icon {
				padding-bottom: 0;
			}
		}

@media only screen and (max-width: 785px) {
    #slideForwardArrow {
				right: -80%;
			}
		}

@media only screen and (max-width: 740px) {
    #slideForwardArrow {
				right: -82%;
			}

			#backbutton {
				bottom: -9%;
			}
		}

@media only screen and (max-width: 705px) {
    #slideForwardArrow {
				right: -84%;
			}
		}
