//MEDIA QUERIES FOR BIO SCREEN


@media screen and (max-width: 1220px) {
  #biotext {
    top: 180px;
  }


}

@media screen and (max-width: 1174px) {
  #biotitle: {
     right: 70%;
}

@media scren and (max-width: 1145px) {
  #biotitle {
    right: 66%;
  }
}


@media screen and (max-width: 1112px) {

  .namehead{
    font-size: 2em;
  }

  .titlehead {
    font-size: 2em;
  }

  #biotitle {
    right: 75%;
  }

}




@media screen and (max-width: 1006px) {

  .namehead{
    font-size: 2em;
  }

  .titlehead {
    font-size: 2em;
  }


  .hovbutton {
    width: 250px;
    height: 250px;
    top: 20%;
  }
}

@media screen and (max-width: 973px) {

  .namehead {
    font-size: 2em;
  }

  .titlehead {
    font-size: 2em;
  }

}

@media screen and (max-width: 856px) {
  #biotitle {
    right: 42%;
  }

  #biotext {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 796px) {
  .namehead {
    font-size: 1.5em;
  }

  .titlehead {
    font-size: 1.5em;
  }

  #backbutton {
    height: 50px;
    width: 50px;
  }

  #biotitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px){
  #namehead {
    right: 36%;
    display: inline-block;
    height: 30px;
    width: 150px;
    text-align: center;
  }

  .titlehead {
    right: 30%;
    text-align: center;
  }

  #bio {
    width: 150px;
    height: 150px;
    position: absolute;
  }

  #biolabel {
    font-size: 1.85rem;
    line-height: 150px;
  }

  #portfolio {
    width: 150px;
    height: 150px;
    font-size: 1.85rem;
  }

  #contact {
    width: 150px;
    height: 150px;
    font-size: 1.85rem;
  }

  #conlabel {
    line-height: 100px !important;
  }
}

@media screen and (max-width: 550px) {
  #bio {
    width: 100px;
    height: 100px;
  }

  #biotext {
    top: 150px;
  }

  #biotitle {
    font-size: 30px;
  }

  #namehead {
    right: 33%;
    display: inline-block;
    height: 30px;
    width: 150px;
    text-align: center;
  }

  .titlehead {
    right: 27%;
    text-align: center;
  }
}

@media screen and (max-width: 523px) {

  #window {
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #biotitle {
    top: 15%;
  }

  #backbutton {
    top: 600px !important;
    position: absolute;
  }

  #iconcredit {
    top: 600px !important;
  }

  html {
    height: 100vh !important;
  }

  #window{
    height: 100vh !important;
  }

  .container {
    display: none;
  }
}








}
